---
import { Image } from "astro:assets";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import nekoCopiLaying from "../assets/images/nekocopilaying.png";
import { getCollection } from "astro:content";

const posts = await getCollection("blog");
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1 class="text-5xl mb-4"><b>Hi. I'm Hendy Serrano. 🐀🐈‍⬛</b></h1>
      <p>For work related stuff check <a href="/work">here</a>.</p>
      <Image src={nekoCopiLaying} class="cats" alt="Pic of my cats" />
      <ul>
        {
          posts.map((post) => (
            <li>
              <a href={`/blog/${post.id}`}>
                {post.data.title} -{" "}
                {post.data.publishDate.toISOString().split("T")[0]}
              </a>
            </li>
          ))
        }
      </ul>
    </main>
    <style>
      .card {
        transform-style: preserve-3d;
        position: relative;
      }
      .front,
      .back {
        @apply rounded-full mt-4;
        transition: all 0.25s linear;
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
      }
      .front {
        transform: rotateY(0deg);
        z-index: 2;
      }
      .card:hover .front {
        transform: rotateY(180deg);
      }
      .back {
        transform: rotateY(180deg);
        z-index: 1;
      }
      .card:hover .back {
        transform: rotateY(0deg);
      }

      .cats {
        position: absolute;
        bottom: 0;
        right: 0;
      }
    </style>
  </body>
</html>
